/assets/firebase-api-keys.rs
/assets/macos/OoT Tracker.app/Contents/MacOS/oottracker-gui
/assets/oottracker-mac.dmg
/assets/release-token
/assets/web/env.txt
/crate/oottracker-bizhawk/OotAutoTracker/BizHawk
/crate/oottracker-bizhawk/OotAutoTracker/BizHawk-latest
/crate/oottracker-bizhawk/OotAutoTracker/BizHawk-multiworld
/crate/oottracker-bizhawk/OotAutoTracker/src/.vs
/crate/oottracker-bizhawk/OotAutoTracker/src/bin
/crate/oottracker-bizhawk/OotAutoTracker/src/obj
/crate/oottracker-bizhawk/OotAutoTracker/src/oottracker.dll
/target
