[Unit]
Description=Web server for oottracker.fenhl.net
After=network-online.target
Wants=network-online.target

[Service]
Restart=always
ExecStart=/opt/git/github.com/fenhl/oottracker/branch/mw/target/release/oottracker-web
User=fenhl
Group=fenhl
WorkingDirectory=/opt/git/github.com/fenhl/oottracker/branch/mw
EnvironmentFile=/opt/git/github.com/fenhl/oottracker/branch/mw/assets/web/env.txt

[Install]
WantedBy=multi-user.target
