html,
body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    justify-content: center;
    align-items: center;
    font-family: 'DejaVu Sans', sans-serif;
    background-color: black;
    color: white;
}

a {
    color: #00bb44;
}

.items {
    display: grid;
    gap: 10px;
    padding: 5px;
}

/* 3-column layouts */
.items.dungeon-rewards {
    grid-template-columns: 10px 10px 10px 10px 10px 10px 10px 10px 10px;
}

/* 4-column layouts */
.items.mw-expanded {
    grid-template-columns: 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px;
}

/* 6-column layouts */
.items.default,
.items.mw-edit,
.items.rsl-edit {
    grid-template-columns: 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px;
}

/* 9-column layouts */
.items.rsl-left,
.items.rsl-right {
    grid-template-columns: 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px;
}

/* 10-column layouts */
.items.mw-collapsed,
.items.rsl-3player {
    grid-template-columns: 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px;
}

.items > a {
    /* style JS fake links as links */
    cursor: pointer;
}

.items > div,
.items > a {
    position: relative;
    text-decoration: none;
}

.items > div > img,
.items > a > img {
    position: absolute;
}

.dimmed {
    opacity: 15%;
}

.left-dimmed {
    mask-image: linear-gradient(to right, rgba(0, 0, 0, 0.15) 50%, rgba(0, 0, 0, 1) 50%);
}

.right-dimmed {
    mask-image: linear-gradient(to right, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0.15) 50%);
}

.mq {
    /* hack to recolor the white text images red */
    filter: brightness(50%) sepia(100) saturate(100);
}

.cols2 {
    grid-column-end: span 2;
    grid-row-end: span 2;
}

.cols2,
.cols2 img {
    width: 30px;
    height: 30px;
}

.cols2.loc {
    grid-row-end: span 1;
}

.cols2.loc,
.cols2.loc img,
.cols2 img.loc {
    height: 10px;
}

.cols3 {
    grid-column-end: span 3;
    grid-row-end: span 3;
}

.cols3,
.cols3 img {
    width: 50px;
    height: 50px;
}

.cols3.loc {
    grid-row-end: span 1;
}

.cols3.loc,
.cols3.loc img,
.cols3 img.loc {
    height: 18px;
}

img.loc {
    position: absolute;
    bottom: 0;
}

.count {
    color: white;
    background-color: rgba(0, 0, 0, 0.65);
    padding: 2pt;
    position: absolute;
    bottom: 2px;
    right: 2px;
}

footer {
    margin-top: 1rem;
}
