html,
body {
    background-color: white;
    color: black;
}

a {
    color: #6600ff;
}

input[type="text"],
button {
    background-color: white;
    border-color: 1px solid black;
}

button:hover {
    background-color: black;
    color: white;
}

table,
table th,
table td {
    border-color: black;
}

.items img {
    filter: drop-shadow(1px 1px 0 black);
}

.items .loc {
    filter: invert(1);
}

.items .mq {
    filter: brightness(50%) sepia(100) saturate(100);
}

.count {
    color: black;
    background-color: rgba(255, 255, 255, 0.65);
}

.power {
    color: #c00000;
}

.wisdom {
    color: #2020c0;
}

.courage {
    color: #008000;
}
